<!DOCTYPE html>
<html lang="en">
<head>
    <title>ChorChain</title>
</head>
<body>
<div id="root"><%- reactApp %></div>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<script src="/index.js" charset="utf-8"></script>
<script src="/vendor.js" charset="utf-8"></script>
</body>
</html>